<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2>Admin Home</h2>
<form action="addsongs" >
<button>ADD SONGS</button>
</form>
<br><br>
<form action="/viewsongs" >
<button>View Songs</button>
</form>
<br><br>
<form action="/createplaylists" >
<button>CREATE PLAYLIST</button>
</form>
<br><br>
<form action="/viewplaylist" >
<button>VIEW PLAYLIST</button>
</form>
<br><br>
<form action="/logout" >
<button>LOGOUT</button>
</form>

</body>
</html>