<!DOCTYPE html>
<html>
<head>

<title>Song page</title>
<style>
form{
padding:10px;
width:45%;
border-radius:10px;
height:25%;
background-color:lightgrey;
margin-top:10%;
margin-left:25%;
color:blue;

margin-right:15%;
text-align:center;
}
body{
background-color:lightgreen;
background-image: url("img.jpeg");
}

</style>
</head>
<body>

<form action="/addsong" method="POST">
<h2>ADD SONGS</h2>
<table>
<tr>
<td><label>Song Name:</label></td>
<td><input type="text" name="name"></td>
</tr>
<tr>
<td><label>Song Artist:</label></td>
<td><input type="text" name="artist"></td>
</tr>
<tr>
<td><label>Song Genre:</label></td>
<td><input type="text" name="genre"></td>
</tr>
<tr>
<td><label>Song Link:</label></td>
<td><input type="text" name="link"></td>
</tr>

</table>
<input type="submit" value="ADD SONG">

</form>
</body>
</html>